# Test change for invalidation
name: Build
run-name: ${{ inputs.orchestrator_runid && format('BuildingApp-Orch-{0}', inputs.orchestrator_runid) || 'Build' }}

on:
  workflow_dispatch:
    inputs:
      orchestrator_runid:
        description: 'Orchestrator run ID'
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Simulate build
      run: |
        ls -l
        cat repoB.txt || true
        echo "This build process for application B"
        sleep 5
        exit 1 
